Angular application
<div class="spacex-container">
  <h1>SpaceX Launch Programs</h1>
  <div class="spacex-filter">
    <div class="filters">
      <h3>Filters</h3>
      <div class="launch-year-filter">
        <input type="search" placeholder="Launch Year" value="" /> 
        <ul class="filter-years">
          <li *ngFor="let year of years">
            <button type="button" value="{{year}}">{{year}}</button>
          </li>
        </ul>
      </div>
      <div class="success-launch-filter">Successful Launch</div>
      <div class="success-landing-filter">Successful Landing</div>
    </div>
  </div>
  <div class="spacex-lauch">
    <div *ngFor="let launch of spaceXLoches" class="spacex">
      <div class="spacex-card">
        <div class="img-container">
          <img alt="{{ launch.mission_name }}" src="{{ launch.links.mission_patch }}" class="spacex-img" />
        </div>
        <div class="mission-details">
          <h3 title="{{launch.mission_name}}# {{launch.flight_number}}">{{ launch.mission_name }} # {{
            launch.flight_number }}</h3>
          <div class="spacex-mission-ids">
            <div class="col"><label>Mission Ids:</label></div>
            <div class="mission_id">
              <ul>
                <li *ngFor="let mId of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                  {{ mId }}
                </li>
              </ul>
            </div>
          </div>
          <div class="table">
            <div class="col"><label>Launch Year:</label></div>
            <div class="col">{{ launch.launch_year }}</div>

            <div class="col"><label>Successful Launch:</label></div>
            <div class="col">{{ launch.launch_success }}</div>

            <div class="col"><label>Successful Landing:</label></div>
            <div class="col">{{ launch.launch_success }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>